/* font-family: "source-serif-pro", serif;
font-weight: 400;
font-style: normal;
font-family: "source-serif-pro", serif;
font-weight: 400;
font-style: italic;
font-family: "source-serif-pro", serif;
font-weight: 700;
font-style: normal;
font-family: "source-serif-pro", serif;
font-weight: 700;
font-style: italic; */

body {
    background-color: rgb(0, 85, 164);
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
    margin-top: 64px;
}

.fixed {
    width: 50%;
    display: flex;
    position: fixed;
    z-index: 2;
}

.container {
    display: flex;
}

.left {
    width: 50%;
    border-right: 1px solid white;
    padding-right: 1%;
    text-align: right
}

.right {
    width: 50%;
    padding-left: 1%
}

h1 {
    font-family: "source-serif-pro", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 32px;
    color: white;
}

p {
    font-family: "source-serif-pro", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20 px;
    color: white;
    width: 80%;
}


a {
    font-family: "source-serif-pro", serif;
    font-weight: 600;
    font-style: italic;
    font-size: 20 px;
    color: red;
}

h2 {
    font-variant: small-caps;
    color: white;
}

a:hover {
    color: white
}

#fixed a {
    font-family: "source-serif-pro", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 32 px;
    color: white;
    background-color: rgb(0, 85, 164);
}

#fixed a:hover {
    color: red
}

.blend {
    mix-blend-mode: screen;
    width: 50%;
    z-index: 2;
}

.hide {
    display: none;
}

.hover:hover+.hide {
    display: block;
}

.hide:hover {
    display: block;
}

o {
    font-weight: 600;
}

u {
    text-decoration: underline 1px;
}

@media only screen and (max-width: 600px) {
    body {
        margin-top: 2rem
    }

    h1 {
        font-size: 36px
    }

    .fixed {
        position: sticky;
        width: 100%;
        padding-bottom: 1rem
    }

    .left {
        width: 1rem;
        border-right: 1px solid white;
    }

    .right {
        width: 100%;
        padding-left: 1rem
    }

    p {
        width: 90%
    }
}